*, *::after, *::before {
  outline: none;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #F1F3F4;
}

#cabecera {
  min-height: 5%;
  height: 60px;
  width: 100%;
}

#contenedor_principal {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 90%;
}

#pie_de_pagina {
  width: 100%;
  height: 70px;
  min-height: 5%;
}

#cabecera {
  display: flex;
  background-color: #fff;
  box-shadow: 3px 3px 3px #d1d1d1;
  position: fixed;
  top: 0;
}
#cabecera .logo {
  display: flex;
  align-items: center;
  padding: 5px;
}
#cabecera .logo div {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}
#cabecera .logo img {
  height: 50px;
  width: auto;
}

.contenedor_formularios {
  width: 700px;
  height: 500px;
  border: 2px solid #d1d1d1;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contenedor_formularios > * {
  padding: 20px;
}
.contenedor_formularios footer {
  display: flex;
  justify-content: flex-end;
}
.contenedor_formularios footer button {
  padding: 10px 15px;
  background-color: #159180;
  color: white;
  font-size: 1.1em;
  border: 1.5px solid #138374;
  border-radius: 3px;
  cursor: pointer;
}
.contenedor_formularios footer button:hover {
  background-color: #138374;
}

.contenedor_opciones {
  display: flex;
  border-bottom: 2px solid #d1d1d1;
}
.contenedor_opciones .boton_opcion {
  padding: 5px 10px;
  border-bottom: 1px solid #00BFFF;
  color: #8f8f8f;
  font-size: 0.9em;
  margin: 5px;
  cursor: pointer;
}
.contenedor_opciones .boton_opcion:hover, .contenedor_opciones .boton_opcion.activo {
  border-width: 2px;
  color: #000;
  font-weight: bold;
}

.formulario_codigo {
  display: none;
  flex-direction: column;
}
.formulario_codigo.activo {
  display: flex;
}

#contenedor_configuracion_codigo {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  height: 500px;
  width: 300px;
  padding: 20px;
}

.vista_codigo {
  width: 350px;
  height: 500px;
  padding: 20px;
  border: 2px solid #d1d1d1;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.vista_codigo .img_codigo_qr {
  width: 80%;
  height: auto;
}
.vista_codigo #contenedor_link_descarga {
  width: 100%;
  justify-self: flex-end;
  align-self: flex-end;
  text-align: center;
  justify-content: center;
}
.vista_codigo #contenedor_link_descarga a {
  padding: 8px 12px;
  background-color: #087e7e;
  color: white;
  text-decoration: none;
  border: none;
}

#canvas_descarga {
  display: none;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
label input, label textarea, label select {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #b8b8b8;
}
label input[type=color] {
  padding: 0;
}
label textarea {
  height: 100px;
}

/*# sourceMappingURL=qrcode.css.map */
