#cabecera{
    min-height: 5%;
    height: 60px;
    width: 100%;
}

#contenedor_principal{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    width: 100%;
    min-height: 90%;

}


#pie_de_pagina{
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    min-height:calc( 10% - 20px ) ;
    background-color: #fff;
    border-top: 1px solid #d1d1d1;
}

.contenedor_descarga{
    width: 100%;
    padding: 15px;
}