#cabecera{
    display: flex;
    justify-content: space-between;
    background-color: #fff;

    height: 5%;
    width: 100%;

}

#contenedor_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    width: 100%;
    height: 90%;
}


#pie_de_pagina{
    width: 100%;
    height: 5%;
}